# == == == == == === == == == == == #
#      Prison 3 Configuration       #
# Be sure to check your formatting! #
# == == == == == === == == == == == #

debug: false

check-updates: true
send-metrics: true
show-alerts: true
slime-fun: false
prestiges: false

default-language: en_US

# The storage engine that Prison should use to store data.
# Ensure that only one is left uncommented out. Also, ensure
# that you specify your MongoDB or SQL login credentials if necessary.
storageType: "json"
#storageType: "mongo"
#storageType: "sql"

# Login credentials for either SQL or MongoDB
database:
  enabled: false
  type: sql # sql or mongo
  host: localhost
  database: prison
  username: root
  password: root
  port: 3306