<?xml version="1.0"?>
<!--
  ~  Prison is a Minecraft plugin for the prison game mode.
  ~  Copyright (C) 2017 The Prison Team
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    In Prison, Checkstyle is used to prohibit tabs, fix file headers, and most importantly,
    to prevent certain imports from being used in certain places. For example, using Bukkit in
    a module is unacceptable because it breaks cross-compatibility.
 -->

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <property name="severity" value="error"/>

    <property name="fileExtensions" value="java, properties, xml"/>
    <!-- Checks for whitespace                               -->
    <!-- See http://checkstyle.sf.net/config_whitespace.html -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="TreeWalker">
        <module name="OuterTypeFilename"/>

        <module name="ImportControl">
            <property name="file" value="${basedir}/config/checkstyle/import-control.xml"/>
        </module>
    </module>

    <module name="Header">
        <property name="headerFile" value="${basedir}/config/checkstyle/header.txt"/>
        <property name="fileExtensions" value="java"/>
    </module>
</module>
